@import url(http://fonts.googleapis.com/css?family=Maven+Pro:500)

body
  font-family: 'Maven Pro', sans-serif
  min-width: 552px
  margin: 0

header
  width: 100%
  top: 0
  position: fixed
  z-index: 2

  .notice, .title
    background: white
    text-align: center
    width: 100%
    top: 0
    position: absolute

#categories
  width: 530px
  background: black
  height: 34px
  margin: 50px auto
  padding: 0
  list-style-type: none

  li
    width: 105px
    float: left
    display: block
    position: relative
    padding: 7px 0px 3px 0px
    text-align: center
    margin: 0 auto
    color: white
    border-right: 1px solid gray
    text-transform: capitalize

    &:hover
      background: rgb(84, 85, 87)

.content
  margin-top: 100px

.category-name
  text-transform: capitalize
  margin-left: 10px

.emoticon
  margin: 7px
  width: 32px
  height: 32px
  vertical-align: middle
  display: inline-block

  &:hover
    cursor: pointer
    margin: 7px

a
  text-decoration: none

  &:visited
    text-decoration: none
