!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Emoty
    %link{rel:'stylesheet', href: 'stylesheets/popup.css'}
    %script{src: 'javascripts/lib/jquery.js'}
    %script{src: 'javascripts/lib/handlebars.js'}
    %script{src: 'javascripts/lib/ember.js'}
    %script{src: 'javascripts/emoty.js'}
    %script{src: 'javascripts/popup.js'}
  %body
