!!!
%html
  %head
    %meta(charset='utf-8')
    %title Emoty
    %link(rel='stylesheet' href='stylesheets/popup.css')
  %body
    %header
      .notice
        %p

      .title
        %p
          Emoty
          %a(href='http://www.emoji-cheat-sheet.com') Emoji Cheat Sheet
          for Chrome.

    %ul#category-nav

    #emoticons

    %script(src='javascripts/jquery.js')
    %script(src='javascripts/emoticons.js')
    %script(src='javascripts/emoty.js')
    %script(src='javascripts/popup.js')
